<h1>Angular Router App</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li><a routerLink="/app-login-page" routerLinkActive="active">login</a></li>
    <li><a routerLink="/register" routerLinkActive="active">register</a></li>
  </ul>
</nav>

<app-login-page *ngIf="router == '/login-page'"></app-login-page>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
<hr>


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Paper Stack</title>
  <link rel="stylesheet" type="text/css" href="app.component.css" />


</head>
<body>

</body>
</html>
